/* your code */
table {
	width: 100%;
	border: 1px solid #dddddd;
	font-size: 12px;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 10px;
	overflow: hidden;
}

th,td {
	padding: 10px;
	text-align: left
}

th {
	background-color: #215a8e;
	color: white;
}

tr:nth-child(even) {
	background-color: #dddddd;
}